/* Application-wide Styles */
body,
input,
button {
  color: #333;
  font-family: Cambria, Georgia, serif;
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  font-size: 1.5rem;
  color: grey;
  font-weight: bold;
}

/* Light and Dark specific styles */

// body {
//   background-color: blue;
// }

// body.body--dark {
//   background-color: deeppink;

//   img {
//     filter: brightness(0.8);
//   }
// }
